<div class="container">
    
    <!-- <br/>
    <br/> -->

    <div *ngIf="!accessToken">
        <form (submit)="getValues()">
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Dirección Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" [(ngModel)]="email">
            <div id="emailHelp" class="form-text">Nunca compartiremos tu Email con nadie más.</div>
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="password">
            </div>
            <button type="submit" class="btn btn-primary" >Iniciar Sesión</button>
        </form>
    </div>
    <div *ngIf="accessToken">
        <app-account></app-account>
    </div>
</div>